<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.com.hemobile.minigames" 
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name=".MyApplication_"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="true" >
        <activity 
            android:name=".MenuActivity_" 
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.hemobile.minigames.MemoGameActivity_"
            android:label="Jogo"
            android:screenOrientation="landscape"
            android:noHistory="true"
            android:parentActivityName=".MenuActivity_" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MenuActivity_" />
        </activity>
        <activity
            android:name="br.com.hemobile.minigames.RankingsActivity_"
            android:label="Rankings"
            android:screenOrientation="landscape"
            android:parentActivityName=".MenuActivity_" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MenuActivity_" />
        </activity>
        <activity
            android:name="br.com.hemobile.minigames.OptionsActivity_"
            android:label="Opções"
            android:screenOrientation="landscape"
            android:parentActivityName=".MenuActivity_" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MenuActivity_" />
        </activity>
    </application>

</manifest>